<dhb-application-frame>
  <div class="dhb-side-nav-content">
      <md-nav-list>
        <a routerLink="/" 
           routerLinkActive="active-link-2">
          <md-list-item>
            <!--<md-icon md-list-avatar>message</md-icon>-->
            <h4 md-line>Home</h4>
          </md-list-item>
        </a>
      <md-divider></md-divider>

      <h3 md-subheader>Ephase</h3>

        <a routerLink="/ephase/wahrfalsch" 
           routerLinkActive="active-link">
          <md-list-item>
            <!--<md-icon md-list-avatar>message</md-icon>-->
            <h4 md-line>Wahr oder Falsch</h4>
         </md-list-item>
        </a>
        <a routerLink="/ephase/funktionenset" 
           routerLinkActive="active-link">
          <md-list-item>
            <!--<md-icon md-list-avatar>message</md-icon>-->
            <h4 md-line>Funktionen Quartett</h4>
         </md-list-item>
        </a>
      </md-nav-list>
  </div>
  <div class="dhb-main-content">
    <router-outlet></router-outlet>
  </div>
</dhb-application-frame>