<form>
   <div *ngFor = "let item of generator.metaConfig"
        [ngSwitch] = "item.type">
   <md-input *ngSwitchCase = "'number'"
             placeholder="{{item.name}}" 
             name = "{{item.property}}"
             [(ngModel)] = "generator.config[item.property]"
             align="end">
   </md-input> 
   <div *ngSwitchCase = "'select-multiple'">
     <h1>{{item.name}}</h1>
      <md-checkbox *ngFor = "let option of item.options; let i = index;"
                  [(ngModel)] = "generator.config[item.property][option.name]"
                  [disabled] = "option.disabled">
                   {{option.name}} 
      </md-checkbox>
   </div>

  </div>
</form>

<button md-raised-button 
        color = "primary"
       (click) = "generator.generate()">Eine neue Aufgabe, bitte
</button>